*{
	color: white;
}
button{
	margin-top: 8%;
	background-color: #e6868e;
	border-radius: 2em !important;
	padding: 2% !important;
	width: 60% !important;
} 
.btn-block{
	margin-left: 20%;
}

/* Men[u] de navegacion*/
.navbar.navbar-default{
	opacity: 0.5;
	background-color: #e6868e;
	width: 100%;
	border-bottom: dashed 3px #4bceb4;
}
/* Seccion imagen y botones */
.h1{
	font-family: 'Poppins', sans-serif;
	font-size: 340%;
	color: gray !important;
}
.decoracion{
	border-top: 3px solid #4bceb4;
	border-bottom: 2px dashed #4bceb4;
	border-left: none;
	border-right: none;
	height: 1	6%;
}
/* Fotos y biografia */
.imghr{
	border: 0; 
	height: 0; 
	margin-top: 0%;
	box-shadow: 0 1px 5px 4px #4bceb4;
}