*{
	color: white;
	font-family: 'Poppins', sans-serif;
}
a{
	text-decoration: none;
}
button{
	background-color: #e6868e;
	border-radius: 2em !important;
	padding: 2% !important;
}
footer{
	background-color: #e6868e;
}
.button{
	margin-top: 5%;
	width: 60% !important;
} 
.btn-block1{
	margin-left: 20%;
}
.mtop5{
	margin-top: 5%;
}
.mbottom5{
	margin-bottom: 5%;
}
.gray{
	color: gray !important;
}
/* Men[u] de navegacion*/
.navbar.navbar-default{
	opacity: 0.5;
	background-color: #e6868e;
	width: 100%;
	border-bottom: dashed 3px #4bceb4;
}
/* Seccion imagen y botones */
.h1{
	font-size: 340%;
}
.decoracion{
	border-top: 3px solid #4bceb4;
	border-bottom: 2px dashed #4bceb4;
	border-left: none;
	border-right: none;
	height: 1	6%;
}
                    /* Fotos y biografia */
/* Efecto fotos */
ul.img-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

ul.img-list li {
  display: inline-block;
  height: 150px;
  margin: 0 1em 1em 0;
  position: relative;
  width: 100%;
}
span.text-content {
  background: rgba(75, 206, 180, 0.3);
  cursor: pointer;
  display: table;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
span.text-content span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
span.text-content {
  background: rgba(75, 206, 180, 0.3);
  cursor: pointer;
  display: table;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  opacity: 0;
}

ul.img-list li:hover span.text-content {
  opacity: 1;
}
span.text-content {
  background: rgba(75, 206, 180, 0.3);
  cursor: pointer;
  display: table;
  height:100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}
/* Efecto botones */
 button:hover{
	-moz-box-shadow: 0 0 20px #F7819F; 
	-webkit-box-shadow: 0 0 20px #F7819F;
	 box-shadow: 0 0 20px #F7819F;
}